<h1>User Sign In</h1>


<%= form_tag users_create_session_path, method: :post do %>
	
	<%= label_tag :email %>
	<%= email_field_tag :email %>

	<br>

	<%= label_tag :password %>
	<%= password_field_tag :password %>


	<br>
	<%= submit_tag "Sign In" %>


<% end %>