<!-- .erb means extended ruby, it allows using ruby language inside the html file -->

<!-- this html.erb file is automatically found by users_list which is present in users_controller.rb -->
<h1>Inside Users Controller > Users List</h1>


<!-- printing a class variable [data sent from controller] -->
<%= @my_variable %>
<%= @my_variable %>
<%= @my_variable %>
<%= @my_variable %>
<%= @my_variable %>


<% (0..100).each do |number| %>

<br><%= number %>

<% end %>


<% @users.each do |u| %>
<%= u.name %>
<% end %>












