<!DOCTYPE html>
<html>
  <head>
    <title>Advance June</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div>
  		<% if @signed_in_user %>
  		<h4>Welcome <%= @signed_in_user.email %>!</h4>
  		<% end %>
  	</div>

    <%= yield %>
  </body>
</html>







